doctype html
head
  title DTPBook
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Great+Vibes&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet', href='/css/animate.css')
  link(rel='stylesheet', href='/css/owl.carousel.min.css')
  link(rel='stylesheet', href='/css/owl.theme.default.min.css')
  link(rel='stylesheet', href='/css/magnific-popup.css')
  link(rel='stylesheet', href='/css/aos.css')
  link(rel='stylesheet', href='/css/ionicons.min.css')
  link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
  link(rel='stylesheet', href='/css/jquery.timepicker.css')
  link(rel='stylesheet', href='/css/flaticon.css')
  link(rel='stylesheet', href='/css/icomoon.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/search1.css')
.py-1.bg-black.top
  .container
    .row.no-gutters.d-flex.align-items-start.align-items-center.px-md-0
      .col-lg-12.d-block
        .row.d-flex
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-phone2
            span.text + 1235 2355 98
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-paper-plane
            span.text DTPBook@gmail.com
          .col-md-5.pr-4.d-flex.topper.align-items-center.text-lg-right.justify-content-end
            p.mb-0.register-link
              span Open hours:
              span Monday - Sunday
              span 8:00AM - 9:00PM
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/home') DTPBook
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      form(action='/home/menu/search',method='GET')
        input(type='text', name='q', placeholder='Search..')
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/home') Home
        li.nav-item.active
          a.nav-link(href='/home/menu') Menu
        li.nav-item.cta
          a.nav-link(href='/home/login') Login
// END nav
section.hero-wrap.hero-wrap-2(style="background-image: url('/images/nen1.jpg');", data-stellar-background-ratio='0.5')
  .overlay
  .container
    .row.no-gutters.slider-text.align-items-end.justify-content-center
      .col-md-9.ftco-animate.text-center.mb-4
        h1.mb-2.bread DTPBook
        p.breadcrumbs
          span.mr-2
            a(href='/home')
              | Home 
              i.ion-ios-arrow-forward
          span
            | Menu 
            i.ion-ios-arrow-forward
section.ftco-section
  .container
    .ftco-search
      .row
        .col-md-12.nav-link-wrap
          #v-pills-tab.nav.nav-pills.d-flex.text-center(role='tablist', aria-orientation='vertical')
            a#v-pills-1-tab.nav-link.ftco-animate.active(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') V&abreve;n h&#x1ECD;c
            a#v-pills-2-tab.nav-link.ftco-animate(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') K&#x1EF9; n&abreve;ng s&#x1ED1;ng
            a#v-pills-3-tab.nav-link.ftco-animate(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') Ti&#x1EC3;u thuy&#x1EBF;t
            a#v-pills-4-tab.nav-link.ftco-animate(data-toggle='pill', href='#v-pills-4', role='tab', aria-controls='v-pills-4', aria-selected='false') Truy&#x1EC7;n tranh
            a#v-pills-5-tab.nav-link.ftco-animate(data-toggle='pill', href='#v-pills-5', role='tab', aria-controls='v-pills-5', aria-selected='false') V&abreve;n h&oacute;a - Kinh t&#x1EBF;
            a#v-pills-6-tab.nav-link.ftco-animate(data-toggle='pill', href='#v-pills-6', role='tab', aria-controls='v-pills-6', aria-selected='false') Ki&#x1EBF;n th&#x1EE9;c t&#x1ED5;ng h&#x1EE3;p
        .col-md-12.tab-wrap
          #v-pills-tabContent.tab-content
            #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='day-1-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S001.jpg);background-size:70%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 The godfather
                          .one-forth
                            span.price $250000
                        p
                          span Mario Puzo
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S014.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 &#x1EA8;n T&agrave;ng Th&#x1B0; Dantalian - T&#x1EAD;p 3
                          .one-forth
                            span.price $109000
                        p
                          span Mikumo Gakuto
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S018.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 B&Ecirc;N NHAU TR&#x1ECC;N &Dstrok;&#x1EDC;I
                          .one-forth
                            span.price $125000
                        p
                          span C&#x1ED1; M&#x1EA1;n
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S020.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 CHUY&#x1EBE;N PHI&Ecirc;U L&#x1AF;U K&#x1EF2; DI&#x1EC6;U C&#x1EE6;A EDWARD TULANE
                          .one-forth
                            span.price $80000
                        p
                          span Kate DiCamillo
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S023.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Hai V&#x1EA1;n D&#x1EB7;m D&#x1B0;&#x1EDB;i Bi&#x1EC3;n
                          .one-forth
                            span.price $89000
                        p
                          span Jules Verne
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S024.jpg);background-size:50%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 H&Atilde;Y NH&#x1EAE;M M&#x1EAE;T KHI ANH &Dstrok;&#x1EBE;N
                          .one-forth
                            span.price $119000
                        p
                          span &Dstrok;inh M&#x1EB7;c
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S025.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 KH&#x1EA2;I HO&Agrave;N M&Ocirc;N
                          .one-forth
                            span.price $120000
                        p
                          span Erich Maria Remarque
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S026.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 KH&Ocirc;NG GIA &Dstrok;&Igrave;NH
                          .one-forth
                            span.price $150000
                        p
                          span Hector Malot
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S028.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 &Ocirc;NG GI&Agrave; V&Agrave; BI&#x1EC2;N C&#x1EA2;
                          .one-forth
                            span.price $45000
                        p
                          span Ernest Hemingway
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S031.jpg);background-size:50%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 T&Ocirc;T-T&Ocirc;-CHAN C&Ocirc; B&Eacute; B&Ecirc;N C&#x1EE6;A S&#x1ED4;
                          .one-forth
                            span.price $55000
                        p
                          span Tetsukoku Royanagi
                        p
                          a.btn.btn-primary(href='#') Buy now
            #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-day-2-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S003.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Vi&#x1EBF;t Cho Ng&#x1B0;&#x1EDD;i Ph&agrave;m
                          .one-forth
                            span.price $188000
                        p
                          span Meb Keflezighi
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S004.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 B&ecirc;n R&#x1EB7;ng Tuy&#x1EBF;t S&#x1A1;n
                          .one-forth
                            span.price $88000
                        p
                          span Swami Amar Jyoti
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S005.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Ng&agrave;y H&ocirc;m Nay Mang T&ecirc;n H&#x1EA1;nh Ph&uacute;c
                          .one-forth
                            span.price $139000
                        p
                          span Beop Sang
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S007.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 &Dstrok;&#x1EC3; C&oacute; M&#x1ED9;t T&#x1B0;&#x1A1;ng Lai
                          .one-forth
                            span.price $155000
                        p
                          span Th&iacute;ch Nh&#x1EA5;t H&#x1EA1;nh
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S010.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 BIRD BOX 
                          .one-forth
                            span.price $98000
                        p
                          span Josh Malerman
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S012.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 21 B&agrave;i H&#x1ECD;c Cho Th&#x1EBF; K&#x1EF7; 21
                          .one-forth
                            span.price $209000
                        p
                          span Yuval Noah Harari
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S032.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 B&agrave;n v&#x1EC1; Trung Qu&#x1ED1;c - Ti&#x1EBF;t l&#x1ED9; c&#x1EE7;a ng&#x1B0;&#x1EDD;i trong cu&#x1ED9;c v&#x1EC1; si&ecirc;u c&#x1B0;&#x1EDD;ng kinh t&#x1EBF; m&#x1EDB;i
                          .one-forth
                            span.price $170000
                        p
                          span Henry M.Paulson
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S033.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Kinh t&#x1EBF; h&#x1ECD;c &dstrok;&#x1ED5;i m&#x1EDB;i - Cu&#x1ED9;c &dstrok;ua gi&agrave;nh l&#x1EE3;i th&#x1EBF; tr&ecirc;n ph&#x1EA1;m vi to&agrave;n c&#x1EA7;u
                          .one-forth
                            span.price $162000
                        p
                          span Robert D. Atkinson - Stephen J. Ezell
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S034.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Qu&#x1EA3;n l&yacute; hi&#x1EC7;u qu&#x1EA3; t&agrave;i s&#x1EA3;n c&ocirc;ng
                          .one-forth
                            span.price $128000
                        p
                          span Th&aacute;i H&agrave;
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S035.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 30 B&iacute; Quy&#x1EBF;t &Dstrok;&#x1EC3; Tr&#x1EDF; Th&agrave;nh Nh&agrave; L&atilde;nh &Dstrok;&#x1EA1;o Th&agrave;nh C&ocirc;ng
                          .one-forth
                            span.price $50000
                        p
                          span Nhi&#x1EC7;m Ng&#x1EA1;n Th&acirc;n
                        p
                          a.btn.btn-primary(href='#') Buy now
            #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-day-3-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S006.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 C&aacute;p Treo T&igrave;nh Y&ecirc;u
                          .one-forth
                            span.price $89000
                        p
                          span Keigo Higashino
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S017.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 B&#x1EAE;T TR&#x1EBA; &Dstrok;&#x1ED2;NG XANH
                          .one-forth
                            span.price $75000
                        p
                          span J. D. Salinger
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S019.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 CHO T&Ocirc;I XIN 1 V&Eacute; &Dstrok;I TU&#x1ED4;I TH&#x1A0;
                          .one-forth
                            span.price $80000
                        p
                          span Nguy&#x1EC5;n Nh&#x1EAD;t &Aacute;nh
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S021.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 EM S&#x1EBC; &Dstrok;&#x1EBE;N C&Ugrave;NG C&#x1A0;N M&#x1AF;A
                          .one-forth
                            span.price $90000
                        p
                          span Ichikawa Takuji
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S022.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 GI&#x1EBE;T CH&#x1EBE;T CON CHIM NH&#x1EA0;I
                          .one-forth
                            span.price $120000
                        p
                          span Harper Lee
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S027.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 M&#x1EAE;T BI&#x1EC4;C
                          .one-forth
                            span.price $110000
                        p
                          span Nguy&#x1EC5;n Nh&#x1EAD;t &Aacute;nh
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S029.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 PH&Iacute;A NAM BI&Ecirc;N GI&#x1EDA;I PH&Iacute;A T&Acirc;Y M&#x1EB6;T TR&#x1EDC;I
                          .one-forth
                            span.price $85000
                        p
                          span Haruki Murakami
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S030.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 S&#x1EF0; IM L&#x1EB6;NG C&#x1EE6;A B&#x1EA6;Y C&#x1EEA;U
                          .one-forth
                            span.price $115000
                        p
                          span Tetsukoku Royanagi
                        p
                          a.btn.btn-primary(href='#') Buy now
            #v-pills-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-day-4-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S002.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 CANG GI&#x1EA2; KIM THU&#x1EAC;T S&#x1AF;
                          .one-forth
                            span.price $69000
                        p
                          span Hiromu Arakawa
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S008.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Ti&#x1EC7;m C&#x1EA7;m &Dstrok;&#x1ED3; Th&#x1EDD;i Gian - T&#x1EAD;p 2
                          .one-forth
                            span.price $45000
                        p
                          span Thi&ecirc;n Xuy&ecirc;n
                        p
                          a.btn.btn-primary(href='#') Buy now
            #v-pills-5.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-day-5-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S009.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 &Dstrok;&#x1ECB;nh M&#x1EC7;nh Chi&#x1EBF;n Tranh
                          .one-forth
                            span.price $246000
                        p
                          span Graham Allison
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S011.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 T&abreve;ng Tr&#x1B0;&#x1EDF;ng Th&#x1EA7;n T&#x1ED1;c
                          .one-forth
                            span.price $158000
                        p
                          span Reid Hoffman - Chris Yeh
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S013.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Ikigai - Ch&#x1EA5;t Nh&#x1EAD;t Trong T&#x1EEB;ng Kho&#x1EA3;nh Kh&#x1EAF;c
                          .one-forth
                            span.price $72000
                        p
                          span Yukari Mitsuhashi
                        p
                          a.btn.btn-primary(href='#') Buy now
            #v-pills-6.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-day-6-tab')
              .row.no-gutters.d-flex.align-items-stretch
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S015.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Nh&#x1EEF;ng &Dstrok;i&#x1EC1;u R&#x1EA5;t Nh&#x1EAD;t B&#x1EA3;n
                          .one-forth
                            span.price $149000
                        p
                          span Erin Niimi Longhurst
                        p
                          a.btn.btn-primary(href='#') Buy now
                .col-md-12.col-lg-6.d-flex.align-self-stretch
                  .menus.d-sm-flex.ftco-animate.align-items-stretch
                    .menu-img.img(style='background-image: url(/images/S016.jpg);background-size:60%;')
                    .text.d-flex.align-items-center
                      div
                        .d-flex
                          .one-half
                            h3 Milan Th&#x1EDD;i Th&#x1B0;&#x1EE3;ng - S&#x1ED1;ng, Y&ecirc;u v&agrave; T&#x1EAD;n H&#x1B0;&#x1EDF;ng
                          .one-forth
                            span.price $129000
                        p
                          span Alice Rosati
                        p
                          a.btn.btn-primary(href='#') Buy now
footer.ftco-footer.ftco-bg-dark.ftco-section
  .container
    .row.mb-5
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 DTPBook
          p &Dstrok;&#x1ECB;a ch&#x1EC9; 
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='#')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Chi Nh&aacute;nh 
          ul.list-unstyled.open-hours
            li.d-flex
              span Hai B&agrave; Tr&#x1B0;ng
              span S&#x1ED1; 1 &Dstrok;&#x1EA1;i C&#x1ED3; Vi&#x1EC7;t 
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Instagram
          .thumb.d-sm-flex
            a.thumb-menu.img(href='#', style='background-image: url(/images/S001.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S002.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S003.jpg);')
          .thumb.d-flex
            a.thumb-menu.img(href='#', style='background-image: url(/images/S004.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S005.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S006.jpg);')
    .row
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.icon-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px', height='48px')
    circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
    circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
script(src='/js/jquery.min.js')
script(src='/js/jquery-migrate-3.0.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/jquery.waypoints.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/aos.js')
script(src='/js/jquery.animateNumber.min.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/jquery.timepicker.min.js')
script(src='/js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='/js/google-map.js')
script(src='/js/main.js')
